{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %}
<h1 style="color:rgb(255, 255, 255);">RESULTADO DE LA BUSQUEDA</h1>
{% endblock %}


{% block contenido %}
Busque su actor
<form action="{% url 'buscarActor' %}" method="GET">

    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="buscar">
    
</form>
<a class="btn btn-danger" href="{% url 'infoActor' %}">Data actores</a>
<a class="btn btn-danger" href="{% url 'actores' %}">Carga actores</a>
{{ mensaje }}

{% endblock %}