{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %}
<h1 style="color:rgb(255, 255, 255);">RESULTADO DE LA BUSQUEDA</h1>
{% endblock %}


{% block contenido %}
busque su peli
<form action="{% url 'buscarPeli' %}" method="GET">

    <input type="text" name="titulo" id="titulo">
    <input type="submit" value="buscar">

</form>
<a class="btn btn-danger" href="{% url 'infoPeli' %}">Data Pelis</a>
<a class="btn btn-danger" href="{% url 'peliculas' %}">Carga Pelis</a>
{{ mensaje }}

{% endblock %}