{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %}
<h1 style="color:rgb(255, 255, 255);">EDITAR DATOS DE ACTOR</h1>
{% endblock %}


{% block contenido %}
{% if user.is_authenticated %}
EDITE TRANQUILO
<form action="{% url 'editarActor' actor.id %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Guardar">
</form>

{{ mensaje }}
{% else %}
<h1>Logueate primero!</h1>
{% endif %}

{% endblock %}