{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block titulo %}
<h1 style="color:rgb(0, 73, 0);">BIBLOTECA DE FILMS</h1>
{% endblock %}


{% block contenido %}
<h1>DATA</h1>
{% if peliculas %}
<ul>
    {% for pelis in peliculas %}
    <li>Titulo:{{pelis.titulo}}</li>
    <li>Director:{{pelis.director}}</li>
    <li>Estreno:{{pelis.estreno}}</li>
    <li>Duracion:{{pelis.duracion}}</li>
    <li>Genero:{{pelis.genero}}</li>
    <a class="btn btn-danger" href="{% url 'eliminarPelicula' pelis.id %}">eliminar</a>
    <a class="btn btn-success" href="{% url 'editarPelicula' pelis.id %}">editar</a>
    <br>
    {% endfor %}
</ul>
{% else %}
<p>NO HAY INFORMACION</p>
{% endif %}
{% endblock %}